@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200&display=swap");

html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

* {
  font-family: "Raleway";
  font-size: 16px
}

body {
  background-image: linear-gradient(to right, #ebebff, #7D98A1);
  background-color: #23395b9e ;
  height: 100vh;
  overflow: hidden;
}

.container {
  padding: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

button {
  background-color: #ffffffc8;
  border: 1px solid #23395B;
  border-radius: 30px;
  box-shadow: #23395B 2px 2px 0 0;
  color: #23395B;
  display: block;
  font-weight: 600;
  font-size: 24px;
  padding: 10px 18px;
  margin: 10px; 
  line-height: 50px;
  text-align: center;
  transition: 0.5s;
}

button:hover {
  color: black;
  background-color: #7D98A1;
}
